:root {
    --Basic-Black: #111;
    --Basic-White: #fff;
    --Background-White: #f8f8f8;

    --Orange: #ff5924;
    --Green: #eaff6a;
    --Pink: #f5c0ee;
    --Light-Grey: #ececec;

    --O-P-Gradient: linear-gradient(90deg, #ff5924 0%, #ff8f8c 50.69%, #f5c0ee 100%);
    --G-P-Gradient: linear-gradient(90deg, #eaff6a 0%, #ffe1b7 51.74%, #f5c0ee 100%);
    --O-G-Gradient: linear-gradient(90deg, #ff5924 0%, #ffb54a 51.22%, #eaff6a 100%);

    --Font-Family-Basic: 'Suisse Intl';
    --Font-Family-Accent: 'Druk Wide Cyr';
}

@font-face {
    font-family: 'Druk Wide Cyr';
    font-weight: 700;
    font-style: bold;
    src:
        local('Druk Wide Cyr'),
        url('/public/fonts/Druk-Wide-Cyr.woff2') format('woff2'),
        url('/public/fonts/Druk-Wide-Cyr.woff') format('woff');
    font-display: fallback;
}

@font-face {
    font-family: 'Suisse Intl';
    font-weight: 300;
    font-style: normal;
    src:
        local('Suisse Intl'),
        url('/public/fonts/SuisseIntl-Light.woff2') format('woff2'),
        url('/public/fonts/SuisseIntl-Light.woff') format('woff');
}

@font-face {
    font-family: 'Suisse Intl';
    font-weight: 400;
    font-style: normal;
    src:
        local('Suisse Intl'),
        url('/public/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('/public/fonts/SuisseIntl-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Suisse Intl';
    font-weight: 500;
    font-style: normal;
    src:
        local('Suisse Intl'),
        url('/public/fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('/public/fonts/SuisseIntl-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Suisse Intl';
    font-weight: 600;
    font-style: normal;
    src:
        local('Suisse Intl'),
        url('/public/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
        url('/public/fonts/SuisseIntl-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Suisse Intl';
    font-weight: 700;
    font-style: normal;
    src:
        local('Suisse Intl'),
        url('/public/fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('/public/fonts/SuisseIntl-Bold.woff') format('woff');
}

body {
    margin: 0;

    font-family: 'Suisse Intl', 'Arial', sans-serif;

    background: var(--Background-White);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    a {
        text-decoration: none;

        color: inherit;
    }
}

#root {
    overflow: hidden;

    width: 100%;
}
