.root {
    width: 100%;
    padding: 20px 0;

    color: var(--Basic-White);

    border-bottom: 1px solid;
    background-color: var(--Basic-Black);

    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        width: 400px;
    }

    .footerContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        box-sizing: border-box;

        max-width: 1020px;
        margin-right: auto;
        margin-bottom: 50px;
        margin-left: auto;
        padding: 0 50px;

        .formContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
        }

        .textContainer {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: flex-start;

            width: 542px;
            margin: 0;

            list-style: none;

            color: var(--Basic-White);

            & span {
                max-width: 210px;
            }
        }
    }
}
