.root {
    position: fixed;
    z-index: 100;

    width: 100%;
    padding: 8px 0 11px;

    border-bottom: 1px solid;
    background-color: var(--Background-White);

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        box-sizing: border-box;

        max-width: 1020px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 50px;

        .logo {
            letter-spacing: -0.396px;

            font-family: Druk Wide Cyr;
            font-size: 19.781px;
            font-weight: 700;
            font-style: normal;
            line-height: normal;

            color: var(--Basic-Black, #111);
        }

        .menuButtonContainer {
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
            align-items: flex-end;

            width: 421.873px;
        }
    }

    @media screen and (max-width: 500px) {
        .navigation {
            flex-direction: column;
            align-items: center;
        }
    }
}
