@import '../../app/styles/variables';

.root {
    width: 100%;
    padding: 80px 0 50px;

    color: var(--Basic-White);

    border-bottom: 1px solid;
    background-color: var(--Basic-Black);

    .footerContainer {
        position: relative;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        box-sizing: border-box;

        max-width: 1020px;
        margin-right: auto;
        margin-left: auto;
        padding: 0 50px;

        .form {
            width: 100%;
            max-width: 335px;

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            & button {
                width: fit-content;
                margin-top: 20px;
            }

            .success {
                font-size: 12px;
                font-weight: 450;
                line-height: 15px;

                color: inherit;
            }
        }

        .headerContainer {
            display: flex;
            flex-direction: column;

            width: 50%;

            max-width: 380px;
            margin-bottom: 40px;

            .header {
                margin: 0;

                font-size: 34px;
                font-weight: 500;
                line-height: 42.5px;
            }

            .info {
                margin-top: 12px;

                font-size: 15px;
                font-weight: 450;
                line-height: 18.75px;
            }

            @media screen and (max-width: $maxWidthTablet) {
                width: 100%;
            }
        }

        .information {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            width: 100%;

            margin-top: 150px;

            .text {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;

                width: 100%;
                max-width: 542px;

                list-style: none;

                color: var(--Basic-White);

                .captions {
                    max-width: 210px;

                    font-size: 10px;
                    font-weight: 450;
                    line-height: 12.5px;
                }
            }

            @media screen and (max-width: $maxWidthTablet) {
                flex-direction: column;

                margin: 80px 0 120px;

                .text {
                    flex-direction: column;
                    gap: 20px;

                    padding-top: 10px;

                    .captions {
                        font-size: 12px;
                        font-weight: 450;
                        line-height: 15px;
                    }
                }
            }
        }

        @media screen and (max-width: $maxWidthTablet) {
            padding: 0 30px 0 20px;
        }
    }
}
