.root {
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;

    position: relative;

    transition: 0.3s ease-out;
}

.arc {
    mask-image: url('../../assets/arc.svg');
}

.circles {
    mask-image: url('../../assets/circles.svg');
}

.star {
    mask-image: url('../../assets/star.svg');
}
