.header {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
}

.subhead {
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.additionalText {
    font-size: 12px;
    font-style: normal;
    font-weight: 450;
    line-height: 125%;
}

.captions {
    font-size: 10px;
    font-style: normal;
    font-weight: 450;
    line-height: 125%;
}

.bodyParagraph {
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: 125%;
}

.bPHighlights {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
}
