.root {
    width: 100%;
    max-width: 335px;

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & button {
        width: fit-content;
        margin-top: 20px;
    }

    .success {
        font-size: 12px;
        font-weight: 450;
        line-height: 15px;

        color: inherit;
    }
}
