.root {
    --Inactive-Grey: #bebebe;
    --Orange-Pressed: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #ff5924;
    position: relative;

    display: inline-flex;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);

    justify-content: center;
    align-items: center;

    padding: 14px 52px;

    cursor: pointer;
    text-align: center;
    letter-spacing: 0.4px;

    font-size: 15px;
    font-weight: 450;
    font-style: normal;
    line-height: 125%;

    color: var(--Basic-White);
    border: 0;
    border-radius: 40px;

    transition: 0.3s all;

    &:hover {
        background: var(--Orange);
    }

    &:active {
        background: var(--Orange-Pressed);
    }

    &:disabled {
        background: var(--Inactive-Grey);
    }
}

.black {
    background: var(--Basic-Black);
}

.white {
    color: var(--Basic-Black);
    background: var(--Basic-White);
}

.gradient {
    color: var(--Basic-Black);
    background: var(--O-P-Gradient);
}

.isAnimated::after {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    content: '';

    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(transparent),
        color-stop(var(--Orange)),
        to(transparent)
    );
    background: linear-gradient(
        100deg,
        transparent,
        transparent,
        rgba(255, 89, 36, 0.5),
        transparent,
        transparent
    );

    transform: translateX(-100%);

    animation: loading 2s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}
