.root {
    width: 100%;
    min-width: 250px;

    .label {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        font-size: 12px;

        & span {
            margin-bottom: 5px;

            text-align: left;

            font-weight: 450;
            line-height: 15px;

            outline: none;
        }

        & input,
        & textarea {
            box-sizing: border-box;
            max-width: 100%;

            height: 30px;
            padding: 8px 12px;

            font-family: var(--Font-Family-Basic);

            border: 1px solid var(--Basic-Black);

            &::placeholder {
                color: rgb(99, 99, 99);
            }
        }

        textarea:focus,
        input:focus {
            outline: none;
        }

        & input {
            height: 30px;

            border-radius: 40px;
        }

        & textarea {
            height: 120px;

            resize: none;

            border-radius: 10px;
        }
    }
}
