.root {
    width: 315px;

    .label {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        & span {
            margin-bottom: 5px;

            text-align: left;

            font-size: 12px;
            font-weight: 450;
            line-height: 15px;
        }

        & input {
            max-width: 100%;
            max-height: 30px;
            padding: 0 6px 4px;

            border: 1px solid var(--Basic-Black);
            border-radius: 40px;

            &::placeholder {
                padding: 0 6px 4px;

                font-size: 11px;

                color: rgb(71, 71, 71);
            }
        }
    }
}
