.root {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    .info {
        box-sizing: border-box;
        width: 100%;
        max-width: 1020px;
        margin: 60px auto 0;
        padding: 0 50px 70px;
    }
}
