.root {
    .movie {
        display: block;

        width: 100%;
        height: auto;
        margin: 0 auto;
        // max-width: 600px;
    }

    .buttonContainer {
        margin-top: 20px;
    }
}
