.root {
    .movie {
        display: block;

        width: 100%;
        height: auto;
        margin: 0 auto;

        border-radius: 16px;
    }

    .buttonContainer {
        margin-top: 20px;
    }
}
