@import '../../../../app/styles/variables';

.submitButton {
    position: absolute;
}

.formHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 10px;

    .header {
        margin: 10px 0;

        font-family: var(--Font-Family-Basic);
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;

        @media screen and (max-width: $maxWidthTablet) {
            font-size: 24px;
            line-height: 21.6px;
        }
    }

    .buttonGroup {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}
