:root {
    --Basic-Black: #111;
    --Basic-White: #fff;
    --Background-White: #f8f8f8;

    --Orange: #ff5924;
    --Green: #eaff6a;
    --Pink: #f5c0ee;
    --Light-Grey: #ececec;

    --O-P-Gradient: linear-gradient(90deg, #ff5924 0%, #ff8f8c 50.69%, #f5c0ee 100%);
    --G-P-Gradient: linear-gradient(90deg, #eaff6a 0%, #ffe1b7 51.74%, #f5c0ee 100%);
    --O-G-Gradient: linear-gradient(90deg, #ff5924 0%, #ffb54a 51.22%, #eaff6a 100%);
}

@font-face {
    font-family: 'Druk Wide Cyr';
    font-weight: 700;
    font-style: bold;
    src:
        local('Druk Wide Cyr'),
        url('/src/app/fonts/Druk-Wide-Cyr.woff2') format('woff2'),
        url('/src/app/fonts/Druk-Wide-Cyr.woff') format('woff');
}

@font-face {
    font-family: 'Suisse Intl';
    src:
        local('Suisse Intl'),
        url('/src/app/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('/src/app/fonts/SuisseIntl-Regular.woff') format('woff');
}

body {
    margin: 0;

    font-family: 'Suisse Intl', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--Background-White);
}
