.root {
    width: 100%;
    min-height: 500px;

    .rootContainer {
        position: relative;
        max-width: 1020px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 80px 50px 70px;
    }

    @media screen and (max-width: 800px) {
        .rootContainer {
            padding: 70px 10px 50px;
        }
    }

    .numbering {
        margin-bottom: 50px;
        color: var(--Basic-White);
        font-size: 10px;
        font-style: normal;
        font-weight: 450;
        line-height: 125%;
    }
}

@media screen and (max-width: 800px) {
    .root {
        min-height: 300px;
    }
}

/* Главный экран */
.mainScreen {
    .heading {
        margin: -16px 0 0 0px;
        width: 100%;
        max-width: 930px;
    }

    .images {
        width: 100%;
        margin: -15px 0 -5px 0;
    }

    .buttonContainer {
        text-align: center;
    }

    @media screen and (max-width: 800px) {
        .heading {
            margin: 10px 0 0 0;
            width: 100%;
        }
    }
}

/* Первый экран: Point 01 */
.point1 {
    background: var(--Basic-Black);
    color: var(--Basic-White, #fff);

    .rootContainer {
        background: url('/src/widgets/LangingScreen/_assets/circles.png') no-repeat bottom 100px
            right 70px;
        background-size: 240px auto;
    }

    .text {
        letter-spacing: 0.35px;

        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        max-width: 800px;
    }

    @media screen and (max-width: 800px) {
        .text {
            font-size: 24px;
        }
    }
}

/* Второй экран: Point 02 */
.point2 {
    background-color: var(--Background-White);
    color: var(--Basic-Black);

    .rootContainer {
        background: url('/src/widgets/LangingScreen/_assets/image.png') no-repeat bottom 10px right;
        background-size: 60% auto;
    }

    .numbering {
        color: var(--Basic-Black);
    }

    .textContainer {
        display: flex;
        max-width: 413px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        & button {
            margin-top: 35px;
        }
    }
}
