.root {
    cursor: pointer;
    text-transform: uppercase;

    font-family: var(--Font-Family-Basic);

    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 125%;

    color: var(--Basic-Black);
    border: 0;
    background-color: transparent;
    &:hover,
    &:active {
        color: var(--Orange);
    }

    &:disabled {
        color: var(--Inactive-Grey);
    }
}

.isWhite {
    color: var(--Basic-White);
}
