.root {
    cursor: pointer;
    text-transform: uppercase;

    font-family: var(--Font-Family-Basic);

    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: 125%;

    color: var(--Basic-Black);
    border: 0;
    background-color: transparent;

    &:disabled {
        color: var(--Inactive-Grey);
    }

    @media (hover: none) {
        &:active {
            color: var(--Orange);
        }
    }

    @media (hover: hover) {
        &:hover {
            color: var(--Orange);
        }
    }
}

.isWhite {
    color: var(--Basic-White);
}
