.root {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 600;

    color: #b100b4;
}
