.root {
    letter-spacing: -0.396px;
    text-transform: lowercase;

    font-family: Druk Wide Cyr;
    font-weight: 700;
    font-style: normal;
    line-height: normal;

    color: var(--Basic-Black);
}

.isWhite {
    color: var(--Basic-White);
}
