@import '../../../app/variables';

/* Общее */
.root {
    width: 100%;
    margin: 0;

    .screen {
        overflow: hidden;

        min-height: 500px;

        color: var(--Basic-Black);
        background: var(--Basic-White);

        .pointContainer {
            position: relative;

            box-sizing: border-box;
            max-width: 1020px;
            margin: 0 auto;
            padding: 80px 50px 70px;

            @media screen and (max-width: $maxWidthTablet) {
                padding: 70px 20px 50px;
            }
        }
    }

    .isBlack {
        color: var(--Basic-White);
        background: var(--Basic-Black);

        .numbering {
            color: var(--Basic-White);
        }
    }

    .isGray {
        background: var(--Light-Grey);
    }

    .numbering {
        margin-bottom: 50px;

        font-size: 10px;
        font-weight: 450;
        font-style: normal;
        line-height: 125%;

        color: var(--Basic-Black);
    }
}

/* Главный экран */
.mainScreen {
    padding-top: 100px !important;

    .buttonContainer {
        margin-top: 285px;

        text-align: center;
    }

    .headerContainer {
        position: relative;

        .heading {
            width: 100%;
            max-width: 930px;
            margin: -18px 0 0 0px;

            @media screen and (max-width: $maxWidthTablet) {
                margin: 8px 0 0 0px;
            }
        }

        .eye {
            position: absolute;
            top: 35%;
            left: 29%;

            @media screen and (max-width: $maxWidthTablet) {
                top: 40%;
                left: 29%;

                transform: scale(0.8);
            }

            @media screen and (max-width: $maxWidthPhone) {
                display: none;
            }
        }
    }
}

/* Первый экран: Point 01 */
.pointFirst {
    .text {
        max-width: 770px;

        letter-spacing: 0.4px;

        font-size: 32px;
        font-weight: 500;
        line-height: 125%;

        & span:last-child {
            margin-top: 9px;
        }

        @media screen and (max-width: $maxWidthTablet) {
            font-size: 24px;
        }
    }
}

/* Второй экран: Point 02 */
.pointSecond {
    color: var(--Basic-Black);
    background: url('/src/shared/assets/image.png') no-repeat bottom 10px right 10px;
    background-size: 60% auto;

    .numbering {
        color: var(--Basic-Black);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        max-width: 413px;

        & button {
            margin-top: 35px;
        }
    }

    @media screen and (max-width: $maxWidthTablet) {
        height: 600px;

        background: url('/src/shared/assets/image.png') no-repeat bottom 10px center;
        background-size: 90% auto;
    }
}

/* Третий экран: Point 03 */
.pointThird {
    position: relative;

    .text {
        margin-top: 20px;

        letter-spacing: 0.4px;

        font-size: 32px;
        line-height: 125%;

        & > span:first-child {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 10px;
        }

        @media screen and (max-width: $maxWidthTablet) {
            font-size: 24px;
        }
    }
}

/* Четвертый экран: Point 04 */
.pointFourth {
    position: relative;

    .text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 8px;

        width: 450px;

        margin: 20px 0;

        font-size: 32px;
    }

    // .figureContainer {
    //     position: absolute;
    //     top: 50px;
    //     right: -20px;

    //     transform: rotate(30deg);
    // }
}
