@import '../../../app/styles/variables';

/* Общее */
.root {
    width: 100%;
    margin: 0;

    .section {
        overflow: hidden;

        min-height: 500px;

        color: var(--Basic-Black);
        background: var(--Background-White);

        .pointContainer {
            position: relative;

            box-sizing: border-box;
            max-width: 1020px;
            margin: 0 auto;
            padding: 80px 50px 100px;

            @media screen and (max-width: $maxWidthTablet) {
                padding: 70px 20px 50px;
            }
        }
    }

    .isBlack {
        color: var(--Basic-White);
        background: var(--Basic-Black);

        .numbering {
            color: var(--Basic-White);
        }
    }

    .isGray {
        background: var(--Light-Grey);
    }

    .numbering {
        margin-bottom: 50px;

        font-size: 10px;
        font-weight: 450;
        font-style: normal;
        line-height: 125%;

        color: var(--Basic-Black);
    }
}

/* Главный экран */
.mainSection {
    padding-top: 80px !important;

    .buttonContainer {
        margin-top: 285px;

        text-align: center;

        @media screen and (max-width: $maxWidthTablet) {
            margin-top: 335px;
        }
    }

    .figures {
        position: relative;

        transition: 3s ease;

        & div:nth-child(1) {
            position: absolute;
            top: 85px;
            left: 0;

            transform: rotate(350deg);
        }

        & div:nth-child(2) {
            position: absolute;
            top: 10px;
            left: 210px;

            transform: rotate(15deg);
        }

        & div:nth-child(3) {
            position: absolute;
            top: -30px;
            right: 0;

            transform: rotate(340deg);
        }

        .figureText {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
            padding: 0 60px;

            text-align: center;
            vertical-align: inherit;

            font-size: 17px;
            font-weight: 500;
            line-height: 17px;
        }

        @media screen and (max-width: $maxWidthTablet) {
            & div:nth-child(1) {
                top: 0px;
                left: -40px;

                transform: rotate(340deg) scale(0.7);
            }

            & div:nth-child(2) {
                top: -20px;
                left: 60px;

                transform: rotate(15deg) scale(0.7);
            }

            & div:nth-child(3) {
                top: 40px;
                right: 0;

                transform: rotate(340deg) scale(0.7);
            }
        }
    }

    .description {
        margin: 0;

        font-size: 12px;
        font-weight: 450;
        line-height: 15px;
    }

    .headerContainer {
        position: relative;

        .heading {
            width: 100%;
            max-width: 930px;
            margin: -18px 0 0 0px;

            @media screen and (max-width: $maxWidthTablet) {
                margin: 8px 0 0 0px;
            }
        }

        .eye {
            position: absolute;
            top: 35%;
            left: 29%;

            @media screen and (max-width: $maxWidthTablet) {
                top: 41%;
                left: 28.5%;

                transform: scale(0.75);
            }

            @media screen and (max-width: $maxWidthPhone) {
                display: none;
            }
        }
    }
}

/* Первый экран: Point 01 */
.pointFirst {
    .text {
        max-width: 770px;

        letter-spacing: 0px;

        font-size: 32px;
        font-weight: 500;
        line-height: 125%;

        & span:last-child {
            margin-top: 10px;
        }

        @media screen and (max-width: $maxWidthTablet) {
            font-size: 20px;
            line-height: 135%;
        }
    }
}

/* Второй экран: Point 02 */
.pointSecond {
    color: var(--Basic-Black);
    background: url('/src/shared/assets/landing-people.png') no-repeat bottom 10px right 10px;
    background-size: 60% auto;

    .numbering {
        color: var(--Basic-Black);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        max-width: 413px;

        .header {
            margin: 0;

            font-size: 32px;
            font-weight: 500;
            line-height: 28.8px;
        }

        .additionalText {
            letter-spacing: -0.2px;

            font-size: 15px;
            font-weight: 500;
            line-height: 18.75px;

            .bold {
                font-weight: 600;
            }
        }

        & button {
            margin-top: 35px;
        }
    }

    @media screen and (max-width: $maxWidthTablet) {
        height: 600px;

        background: url('/src/shared/assets/landing-people.png') no-repeat bottom 10px center;
        background-size: 90% auto;
    }
}

/* Третий экран: Point 03 */
.pointThird {
    position: relative;

    .header {
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
    }

    .highlightsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        margin-top: 20px;

        letter-spacing: 0.6px;

        font-size: 32px;
        line-height: 125%;

        @media screen and (max-width: $maxWidthTablet) {
            font-size: 20px;
        }
    }

    .figures {
        position: relative;

        transition: 3s ease;

        & div {
            position: absolute;
            top: -200px;
            right: -100px;

            transform: rotate(20deg);
        }

        @media screen and (max-width: $maxWidthTablet) {
            & div {
                top: -300px;
                right: -120px;

                transform: rotate(20deg) scale(0.6);
            }
        }
    }
}

/* Четвертый экран: Point 04 */
.pointFourth {
    position: relative;

    .header {
        margin: 0;

        font-size: 32px;
        font-weight: 500;
        line-height: 28.8px;
    }

    .text {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 8px;

        max-width: 450px;

        margin: 20px 0;

        font-size: 15px;
        font-weight: 450;
        line-height: 18.75px;
    }
}
