@import '../../../app/variables';

.root {
    width: 100%;

    border-bottom: 1px solid var(--Basic-Black);

    .wrapper {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        width: 100%;
        max-width: 1020px;
        margin: 0 auto;
        padding: 0 28px;
    }

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        height: 96px;

        text-align: left;

        font-family: var(--Font-Family-Basic);

        border: 0;

        outline: 0;
        background-color: var(--Background-White);

        & > div:first-child {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .number {
            white-space: nowrap;
        }

        .openButton {
            cursor: pointer;
            text-transform: uppercase;

            font-size: 12px;
            font-weight: 500;
            line-height: 15px;

            color: var(--Basic-Black);
            border: 0;
            background-color: transparent;
            &:hover,
            &:active {
                color: var(--Orange);
            }

            &:disabled {
                color: var(--Inactive-Grey);
            }
        }

        .header {
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;

            @media screen and (max-width: $maxWidthTablet) {
                font-size: 24px;
                line-height: 21.6px;
            }
        }
    }

    .content {
        overflow: hidden;

        height: 0;
        padding: 0 22px;

        transition: height 0.3s ease;
    }

    .open {
        height: auto;
        padding-bottom: 40px;
    }

    @media screen and (max-width: $maxWidthTablet) {
        .wrapper {
            padding: 0 20px;
        }

        .content {
            padding: 0;
        }

        .open {
            padding-bottom: 40px;
        }
    }
}
