.root {
    position: relative;

    height: 500px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;

    box-sizing: border-box;

    min-width: 207px;
    min-height: 275px;
    padding: 12px 20px;

    border-radius: 14px;

    .image {
        position: absolute;
        right: 0;
        left: 0;

        margin-right: auto;
        margin-left: auto;

        padding: 20px 0;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        text-align: center;
        -webkit-user-drag: none;

        user-drag: none;
    }

    .textContainer {
        display: flex;
        flex-direction: column;

        padding-bottom: 10px;

        & span:last-child {
            margin-top: 8px;
        }
    }
}

.white {
    color: var(--Basic-Black);
    border: 1px solid var(--Basic-Black);
    background-color: var(--Basic-White);
}

.black {
    color: var(--Basic-White);
    border: 1px solid var(--Basic-White);
    background-color: var(--Basic-Black);
}
