@import '../../app/variables';

.root {
    position: relative;

    height: 500px;

    @media screen and (max-width: $maxWidthTablet) {
        height: 700px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;

    box-sizing: border-box;

    min-width: 207px;
    min-height: 275px;
    padding: 12px 20px;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border-radius: 14px;

    -webkit-touch-callout: none;

    .captions {
        font-size: 9.95px;
        font-weight: 450;
        line-height: 12.44px;
    }

    .image {
        position: absolute;
        right: 0;
        left: 0;

        margin-right: auto;
        margin-left: auto;

        padding: 20px 0;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        text-align: center;
        -webkit-user-drag: none;

        user-drag: none;
    }

    .textContainer {
        display: flex;
        flex-direction: column;

        padding-bottom: 10px;

        .subhead {
            font-size: 16.92px;
            font-weight: 500;
            line-height: 16.92px;
        }

        .additionalText {
            margin-top: 8px;

            font-size: 9.95px;
            font-weight: 450;
            line-height: 12.44px;
        }
    }
}

.white {
    color: var(--Basic-Black);
    border: 1px solid var(--Basic-Black);
    background-color: var(--Basic-White);
}

.black {
    color: var(--Basic-White);
    border: 1px solid var(--Basic-White);
    background-color: var(--Basic-Black);
}
